.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.game-info-container,
.game-box {
  display: flex;
  flex-direction: row;
}

.game-info-container {
  width: 50%;
  margin: 10vh auto 0;
  justify-content: center;
  gap: 3rem;
}
.game-box {
  gap: 1rem;
}

.grid {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 55px);
}

.hole {
  height: 50px;
  width: 50px;
  background-image: url("../images/dirt.png");
  background-position: bottom;
  background-size: cover;
}

.grid div:nth-child(1),
.grid div:nth-child(23) {
  grid-column: 3;
}
.grid div:nth-child(3),
.grid div:nth-child(19) {
  grid-column: 2;
}
.grid div:nth-child(7) {
  grid-column: 1;
}

.mole {
  background-image: url("../images/mole.png");
  background-position: center;
  background-size: cover;
  animation: moveInBottom 500ms;
}

@keyframes moveInBottom {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translate(0);
  }
}
button {
  width: 200px;
  margin: 5rem auto 0;
  padding: 1rem 1.7rem;
  font-size: 1.6rem;
}
